<header>
    <div class="header_banner">
        <ul class="container social_sprite">
            <li>
                <%= link_to material_path, :class => "clearfix" do %>
                <%= image_tag "footer_twitter.png", :alt => "Twitter", :title => "Twitter" %>
                <% end %>
            </li>
            <li>
                <%= link_to material_path, :class => "clearfix" do %>
                <%= image_tag "footer_facebook.png", :alt => "Facebook", :title => "Facebook" %>
                <% end %>                       
            </li>
            <li>
                <%= link_to material_path, :class => "clearfix" do %>
                <%= image_tag "footer_googleplus.png", :alt => "Google Plus", :title => "Google Plus" %>
                <% end %>                       
            </li>
        </ul>
        <h1 class="logo"><a href="#">MakerStash Logo</a></h1>
    </div>
</header>

<nav class="header_nav">
    <ul class="container">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Cart</a></li>
    </ul>
    <a href="#" id="pull">Menu</a>
</nav>